header, #footer-bottom {
    background-color: #2c3e50;
}

#start, #about {
    background-color: #1abc9c;
}

#footer-up {
    background-color: #3a546d;
}


.custom-button {
    background-color: #1abc9c;
}





/* content image   */
.cnt-image {
    overflow: hidden;
    border-radius: 1.25rem;
}

.cnt-image img {
    max-width: 100%;
    height: auto;
}
/* content image   */



/* content stellina */
  .stellina {
    position: relative;
  }
  
  .stellina::before,
  .stellina::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 30%;
    height: .1875rem;
    border-radius: 1.25rem;
    background-color: white;
    transform: translateY(-50%);
  }

  .stellina::before {
    left: 20px;
  }

  .stellina::after {
    right: 20px;
  }


  .col-lg-4 .stellina::before {
    left: 25px;
  }

  .col-lg-4 .stellina::after {
    right: 25px;
  }



  /* nera  */
  .nera::before,
  .nera::after {
    background-color: black;
  }

/* /content stellina  */